body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('emoji-smileys-yellow-box-cheerful-smiling-emoticons-320x480-2302.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background: linear-gradient(135deg,
            rgb(255, 255, 255, 0.1),
            rgb(255, 255, 255, 0.1));
    backdrop-filter: blur(12px);
    padding: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    box-shadow: 0 0 25px grey;
}

.behind {
    display: flex;
    align-items: center;
    font-size: 20px;
    opacity: 0;
}

.click{
    width: 120px;
    height: 30px;
    border: solid 2px palevioletred;
    border-radius: 5px;
    text-align: center;
    color: brown;
    opacity: 1;
    background: chartreuse;
}

.click:hover{
    transform: translateY(5px);
}

.behind.open{
    opacity: 1;
}
@media only screen and (max-width: 600px) {
    .behind {
        font-size: 20px;
    }
    .click {
        font-size: 1rem;
        padding: 8px 16px;
    }
    .container {
    background: linear-gradient(135deg,
            rgb(255, 255, 255, 0.1),
            rgb(255, 255, 255, 0.1));
    backdrop-filter: blur(12px);
    padding: 120px;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    box-shadow: 0 0 25px grey;
}
    body {
        background: url('emoji-smileys-yellow-box-cheerful-smiling-emoticons-320x480-2302.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}
